*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.hero{
    font-style: italic;
    font: italic small-caps bold 16px/2 cursive;
    height: 100vh;
    width: 100%;
    background-image: url(./244124.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: tomato;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
ul li{
    display: inline-block;
    padding: 10px 30px;

}
ul li a{
    color: white;
    text-decoration: none;
}
ul li a:hover{
    color: tomato;
}
.btn{
    background-color: tomato;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: ;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s
    
}

.btn:hover{
    transform: scale(1.1);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
}
h1{
    color: white;
    margin: 5px 0 10px;
    font-size: 70px;
}
h3{
    color: white;
    font-size: 25px;
}
h2{
    color: rgb(255, 253, 253);
}
.newsletter form{
    width: 400px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    width: 100%;
    display: inline-block;
    padding: 14px 130px 14px 15px;
    border: 2px solid tomato;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    border: none;
    padding: 10px 30px;
    background-color: tomato;
    color: white;
    top: 6px;
    right: 6px;
    border-radius: 30px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  
  .fa:hover {
    transform: scale(1.1);
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius:400px;

  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius:400px;
  }
  .fa-youtube{
    background: red;
    color: white;
    border-radius:400px;
  }
  .fa-instagram{
      background: white;
      color: tomato;
      border-radius: 400px;
  }